.page{
    margin-top: 50px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page>button{
    font-size: 20px;
  padding: 7px;
  color: white;
  background: #005C97;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-weight: 700;
  border: none;
  margin-right: 5px;
  padding: 8px 15px;
  border-radius: 20%;
  
  
  }
  
  button{
    cursor: pointer;
  }