.name {
  margin: 25px auto;
}
.addbtn {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 44px;
  font-weight: 600;
  font-style: initial;
  letter-spacing: 0.0015em;
  /* font-weight: bold; */
  font-size: 15px;
  line-height: 20px;
}

.addbtn2 {
  cursor: pointer;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.0015em;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background: rgb(244, 51, 151);
  border: none;
  /* padding: 12px; */
  padding: 10px 44px;
}
.heading {
  color: rgb(153, 153, 153);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  font-family: "Mier demi";
}
.rating {
  color: rgb(153 153 153);
}
.delivery {
  font-size: 11px;
  color: rgb(102 102 102);
  border-radius: 29px;
  background-color: rgb(249 249 249);
  text-align: center;
  /* margin: 10px; */
  padding: 2px;
  margin-top: 4px;
  margin-right: 425px;
}

@media only screen and (max-width: 600px) {
  .leftside {
    max-width: 535%;
  }
  .leftdiv {
    margin-left: -64px;
  }
  .left2div {
    margin-left: 35px;
    margin-right: -60px;
  }
  .addbtn {
    padding: 0px 10px;
  }
  .addbtn2 {
    padding: 10px 10px;
  }
  .rightside1 {
    margin: 0px -45px;
  }
  .delivery {
    margin-right: 177px;
    margin-top: 10px;
  }
  .sizediv {
    margin-left: -45px;
    margin-right: -44px;
  }
}
