.section123{
    background-image: url("https://images.meesho.com/images/marketing/1649759774600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-top: 3%;
  
    
    
}
.section245{
    background-image: url("https://images.meesho.com/images/marketing/1664343269674.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-top: 3%;
}