.left-side {
  display: flex;
  /* flex-direction: column; */
}
.img-class {
  width: 90px;
  height: 45%;
  border-radius: 8px;
  margin: 15px;
}
.card-section {
  margin-top: 12px;
  display: flex;
  border-radius: 5px;
  border: 2px solid rgb(240 240 240);
}
.right-side {
  margin-left: 68px;
}
.price-class {
  font-size: 18px;
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
}
.total-class {
  margin-right: 93px;
  margin-bottom: 10px;
  font-size: 16px;
}

.order-class {
  margin: 10px 0px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 93px;
}
.ctn-class {
  margin-top: 17px;
  cursor: pointer;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.0015em;
  font-size: 20px;
  line-height: 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background: rgb(244, 51, 151);
  border: none;
  padding: 14px 145px;
}
.total-class,
.order-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-class {
  letter-spacing: 0.06rem;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 8px;
}
.size-class {
  margin-bottom: 5px;
  margin-right: 13px;
}
.rem-class {
  margin-top: 5px;
  font-weight: 600;
  color: rgb(244 51 151);
  font-weight: 600;
  margin-bottom: 12px;
}

.edit-class {
  /* margin-top: -78px; */
  /* margin-left: 226px; */
  margin-right: 20px;
  color: rgb(244 51 151);
  font-weight: 600;
}
.vertical {
  border-left: 1px solid rgb(240, 240, 240);
  height: 200px;
  position: absolute;
  left: 52%;
}

.img-class2 {
  width: 367px;
  margin-top: 25px;
  /* margin: 90%; */
}
