.newaccount{
    display: grid;
    grid-template-columns: repeat(2,550px);
    
    gap: 50px;
    justify-content: space-evenly;


}
.box{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.nw{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.background1{
   background:  linear-gradient(rgb(253, 233, 242) 0%, rgb(253, 240, 232) 100%, rgb(253, 240, 232) 100%);
   height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 20px;
   
}
.box111{
    margin: auto;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
background: white;

}
.box111 img{
    object-fit: cover;
    width: 300px;
}