.mainContainer{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
.sideBar{
border: 1px solid black;
width: 20%;
text-align: center;
margin-left: 20px;
}
.sareeList{
    /* border: 1px solid black; */
    width: 80%;
    text-align: center;
}