<<<<<<< HEAD
=======
.sareeList{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 0px 15px;
}

@media (min-width: 100px) and (max-width:700px ) {
    .sareeList{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        padding: 0px 15px;
    }
  }
>>>>>>> f86b34c1212cb05ec9223bd9bc7eca7598868ce6
